<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑文章</title>
    <link th:href="@{/plug/editor/css/editormd.min.css}" rel="stylesheet" />
    <link rel="shortcut icon" th:href="@{/images/Logo_40.png}" type="image/x-icon">
    <!--Layui-->
    <link th:href="@{/plug/layui/css/layui.css}" rel="stylesheet" />

    <!--font-awesome-->
    <link th:href="@{/plug/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
    <!--全局样式表-->
    <link th:href="@{/css/global.css}" rel="stylesheet" />
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script th:src="@{/plug/editor/editormd.min.js}"></script>

</head>
<body>

<!-- 导航 -->
<div th:include="nav" />

<div class="blog-body">
    <div>
        <div class="layui-form-item">
            <label class="layui-form-label">所在专栏</label>
            <div class="layui-input-inline">
                <select name="quiz1">
                    <option></option>
                    <option th:each="list:${typeList}" th:value="${list.id}" th:text="${list.typeName}"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-inline">
                <input type="text" name="title" id="title" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="editormd" id="test-editormd" style="margin: 0px;">
        <textarea class="editormd-markdown-textarea"  name="test-editormd-markdown-doc"></textarea>
        <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
        <!-- html textarea 需要开启配置项 saveHTMLToTextarea == true -->
        <textarea class="editormd-html-textarea" name="editorhtml" id="editorhtml" lay-verify="editorhtml"></textarea>
    </div>
    <div class="layui-form-item" style="margin: 10px 42%;">
        <button type="button" id="btn-sub" class="layui-btn">立即发布</button>
        <button type="reset" class="layui-btn" lay-filter="*" lay-submit="">重置</button>
    </div>
</div>

<!-- 底部 -->
<div th:include="footer"/>

<script type="text/javascript" th:inline="javascript">
    var testEditor;
    testEditor=$(function() {
        editormd("test-editormd", {
            width   : "100%",
            height  : 640,
            codeFold : true,
            syncScrolling : "single",
            //你的lib目录的路径
            path    : "/plug/editor/lib/",
            imageUpload: true,
            emoji: false,
            taskList: true,
            tocm: true,
            saveHTMLToTextarea : true
        });
    });
</script>
<!-- layui.js -->
<script th:src="@{/plug/layui/layui.js}"></script>
<script>
    
    /**
     * 发布文章
     */
    $('#btn-sub').click(function () {
        var title = $("#title").val();
        var content = $('#editorhtml').val();
        if(title == null){
            layer.open({
                title: '发布失败'
                ,content: '标题不能为空',
            });
            return false;
        }
        var params = {
            cover:'https://picsum.photos/200/300/?random', // 文章封面图
            typeName:'2', // 文章类型
            content:content, // 文章内容
            title:title // 文章标题
        };
        $.ajax({
            type:'post',
            url:'/article/addArticle',
            data:JSON.stringify(params),
            contentType: "application/json;charset=utf-8", //这个是发送信息至服务器时内容编码类型
            dataType: 'json',//预期服务器返回的数据类型
            success:function(data){
                debugger;
                console.log(data.articleID);
                window.location.href='/article/articleContent?articleId='+data.articleID;
            }
        });

    });
</script>

<!--遮罩-->
<div class="blog-mask animated layui-hide"></div>


</body>
</html>