<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<!-- 导航 -->
<nav class="blog-nav layui-header">
    <div class="blog-container">
        <!-- QQ互联登陆 -->
        <a href="/user/index" class="blog-user" style="color: white;font-size: 20px;" th:if="${session.user} == null">
            <font color="#c4c5c9" style="font-size: 20px">登&nbsp;陆</font>
        </a>
    </div>

    <div>
        <!-- 不落阁 -->
        <a class="blog-logo" href="/" style="color: #009a61;">Thought</a>
        <!-- 导航菜单 -->
        <ul class="layui-nav" lay-filter="nav">
            <li class="layui-nav-item">
                <a href="/"><i class="fa fa-home fa-fw"></i>&nbsp;网站首页</a>
            </li>
            <li class="layui-nav-item">
                <a href="article.html"><i class="fa fa-file-text fa-fw"></i>&nbsp;文章专栏</a>
            </li>
            <li class="layui-nav-item">
                <a href="resource.html"><i class="fa fa-tags fa-fw"></i>&nbsp;资源分享</a>
            </li>
            <li class="layui-nav-item">
                <a href="timeline.html"><i class="fa fa-hourglass-half fa-fw"></i>&nbsp;点点滴滴</a>
            </li>
            <li class="layui-nav-item">
                <a href="about.html"><i class="fa fa-info fa-fw"></i>&nbsp;关于本站</a>
            </li>
            <li class="layui-nav-item">
                <a href="/editArticle"><i class="fa fa-info fa-fw"></i>&nbsp;发表文章</a>
            </li>
            <ul class="layui-layout-right" style="margin-right: 10%;">
                <li class="layui-nav-item layui-layout-right">
                    <a href="/" class="blog-user" th:if="${session.user} != null">
                        <img th:alt="${session.user.nickname}" th:title="${session.user.nickname}" th:src="${session.user.head}" style="margin:0px 10px;"/>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="/user/loginOut">退了</a></dd>
                    </dl>
                </li>
            </ul>

        </ul>
        <!-- 手机和平板的导航开关 -->
        <a class="blog-navicon" href="javascript:;">
            <i class="fa fa-navicon"></i>
        </a>
    </div>
</nav>

</body>
</html>