<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>登陆页</title>
    <link rel="stylesheet" th:href="@{/login/css/style.css}"/>
	<script type="text/javascript" th:src="@{/plug/layui/layui.js}"></script>
    <!-- 提示升级高级浏览器操作 -->
    <style>
    	.ie-content{  position: fixed; left: 0; top: 0; right: 0; bottom:0; background:#fff; z-index: 1000;}
		.ie-content-bj{ width: 1000px; height: 380px; position: fixed; left: 50%; top: 36%; margin:-190px 0 0 -500px; background:url(img/sj.jpg) no-repeat; }
		.ie-list{ padding:168px 0 0 371px; }
		.ie-list a{ margin-right: 80px; }
    </style>
	<script language="JavaScript">
		if (self != top){
			top.location.href=self.location.href;
		}

		if (true){
			if(window.parent.length!=0){
				window.parent.location.href="/";
			}
		}

	</script>
</head>
<body class="body_bj">

<div class="login">
	<div class="logo">
		<img th:src="@{/login/img/logo.png}" alt="">
	</div>
	<form id="my-form" class="layui-form" th:action="@{/user/register}" method="post">
		<ul class="login-list">
			<li><input type="text" name="email" value="" placeholder="请输入邮箱"></li>
			<li><input type="password" name="password" value="" placeholder="请输入密码"></li>
			<li><input type="text" name="nickname" value="" placeholder="请输入昵称"></li>
			<li><input type="text" name="explain" value="" maxlength="15" placeholder="请输入15个字以内签名。。。"></li>
			<li><button class="btn" type="submit">注 册</button></li>
		</ul>
	</form>
</div>
<!--[if lt IE 8]>
<div class="ie-content">
	<div class="ie-content-bj">
	    <div class="ie-list">
		    <a href="http://www.google.cn/intl/zh-CN/chrome/browser/"><img th:src="@{/img/sj1.jpg}" alt=""></a>
			<a href="http://www.firefox.com.cn/"><img th:src="@{/img/sj2.jpg}" alt=""></a>
			<a href="http://chrome.360.cn/"><img th:src="@{/img/sj3.jpg}" alt=""></a>
	    </div>
	</div>
</div>
<![endif]-->
<script th:inline="javascript">
    /*<![CDATA[*/
	layui.use(['jquery','layer'],function () {
		var $ = layui.jquery;
		var layer = layui.layer;

        var user=/*[[${session.user}]]*/;

        if (user == null || user.code == 200){
            return;
		}
		console.log(user);
        layer.msg(user.msg, {icon: 5});

    });
    /*]]>*/
</script>
</body>
</html>